@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@400;600;700&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

*,
h1,
h2,
h3,
p {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f7f7f7;
}

#root {
  width: 50%;
  margin: 10px auto;
}

.header {
  text-align: center;
  margin-bottom: 10px;
}

.main {
  margin-bottom: 10px;
}

.balance {
  margin-bottom: 10px;
}

.balance h2,
.balance h3 {
  margin: 0;
}

.wallet {
  background-color: #fff;
  padding: 20px;
  box-shadow: var(--box-shadow);
  font-weight: bold;
  margin-bottom: 30px;
}

.wallet-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wallet-info-title,
.wallet-info-amount {
  margin: 0;
}

.wallet-info--income,
.wallet-info--expense {
  width: 50%;
  text-align: center;
}

.wallet-info--income {
  border-right: 1px solid #000;
}

.wallet-info-title {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.wallet-info--income .wallet-info-amount {
  color: green;
}
.wallet-info--expense .wallet-info-amount {
  color: red;
}

.pb-5 {
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
}

.records {
  margin-bottom: 30px;
}

.records-card {
  position: relative;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.records--text,
.records--amount {
  margin: 5px;
}

.records--amount {
  margin-left: auto;
}

.records--flag {
  margin: 0;
  min-height: 100%;
  width: 4px;
  transition: all 0.3s ease;
}

.records--flag-expense {
  background-color: red;
}

.records--flag-income {
  background-color: green;
}

.records-card:hover .records--flag {
  width: 50px;
}

.delete-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-10%, -50%);
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: 1px solid #fff;
  color: #fff;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.records-card:hover .delete-button {
  opacity: 1;
}

form label,
form input {
  display: block;
  margin-bottom: 10px;
}

form label {
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 5px;
  outline: none;
  border: 1px solid #dedede;
}

form button {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}
